[submodule "anki/victor"]
	path = anki/victor
	url = https://github.com/rodolphemds/vectorOS-anki
[submodule "poky/meta-openembedded"]
	path = poky/meta-openembedded
	url = https://github.com/rodolphemds/vectorOS-meta-openembedded
	branch = whinlatter
[submodule "anki/wired"]
	path = anki/wired
	url = https://github.com/rodolphemds/vectorOS-wired
[submodule "anki/vic-cloudless"]
	path = anki/vic-cloudless
	url = https://github.com/rodolphemds/vectorOS-vic-cloudless
[submodule "poky/bitbake"]
	path = poky/bitbake
	url = https://github.com/rodolphemds/vectorOS-bitbake
[submodule "poky/openembedded-core"]
	path = poky/openembedded-core
	url = https://github.com/rodolphemds/vectorOS-openembedded-core
[submodule "external/purplpkg"]
	path = external/purplpkg
	url = https://github.com/rodolphemds/vectorOS-purplpkg
